body {
    font-family: roboto;
    margin:0;
    min-height:100vh;
    display: flex;
    flex-direction: column;
}

.header,
.hero-content {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937 ;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-size:18px;
    color:#e5e7eb;
    margin: 10px;
}

.left {
    display: flex;
    flex-direction:column;
    align-items:flex-start;
}

.main {
    font-size:48px;
    color:#f9faf8;
}

.secondary {
    font-size:18px;
    color:#e5e7eb;
}

button,
.footer {
    background-color:#3882f6;
}

.content,
.footer {
    margin-left: 100px;
    margin-right: 100px;
}

.footer{
    padding-left: 60px;
    padding-right: 60px;
}

.word {
    background-color: #e5e7eb;
    font-size:36px;
    color:#1f2937;
    font-style: italic;
    padding-left: 100px;
    padding-right: 100px;
}

.content {
    display: flex;
    flex-direction: column;
}